<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo-60/blob/main/Reto_Equipo_60_Entrega_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


---


üöÄ **Reto-> Entrega 1**: Limpieza, an√°lisis, visualizaci√≥n y kmeans. Implementar conocimientos adquiridos a lo largo de curso en el desarrollo de un proyecto con datos reales.

üìë **Asignatura:** Ciencia y anal√≠tica de datos

üìö **Grupo:** 60

üßë **Alumnos:** 
> Alberto Jos√© Garc√≠a Porras (Matr√≠cula No. **A01793509**)

>  Erick Johan Najera Olivero (Matr√≠cula No. **A01793506**)

üë© **Profesora**: Mar√≠a de la Paz Rico Fern√°ndez

üìÖ Noviembre 16 del 2022

---

---

# üìë **PARTE 1: LIMPIEZA, AN√ÅLISIS, VISUALIZACI√ìN Y AGRUPAMIENTO DE DATOS**

---

---


## üë£ **Obtener Datos:** En nuestro caso seleccionamos la base de datos de aguas subterraneas;



---

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

db = 'https://raw.githubusercontent.com/PosgradoMNA/actividades-del-projecto-equipo-60/main/Reto/Datos_de_calidad_del_agua_de_sitios_de_monitoreo_de_aguas_subterraneas_2020.csv'

dfAguasSubterraneas = pd.read_csv(db)
dfAguasSubterraneas.head()

,CLAVE,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,ACUIFERO,SUBTIPO,LONGITUD,LATITUD,PERIODO,...,CUMPLE_CON_DUR,CUMPLE_CON_CF,CUMPLE_CON_NO3,CUMPLE_CON_AS,CUMPLE_CON_CD,CUMPLE_CON_CR,CUMPLE_CON_HG,CUMPLE_CON_PB,CUMPLE_CON_MN,CUMPLE_CON_FE
0,DLAGU6,POZO SAN GIL,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,ASIENTOS,VALLE DE CHICALOTE,POZO,-102.02210,22.20887,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
1,DLAGU6516,POZO R013 CA√ëADA HONDA,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,AGUASCALIENTES,VALLE DE CHICALOTE,POZO,-102.20075,21.99958,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
2,DLAGU7,POZO COSIO,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,COSIO,VALLE DE AGUASCALIENTES,POZO,-102.28801,22.36685,2020,...,SI,SI,SI,NO,SI,SI,SI,SI,SI,SI
3,DLAGU9,POZO EL SALITRILLO,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,RINCON DE ROMOS,VALLE DE AGUASCALIENTES,POZO,-102.29449,22.18435,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
4,DLBAJ107,RANCHO EL TECOLOTE,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LA PAZ,TODOS SANTOS,POZO,-110.24480,23.45138,2020,...,SI,SI,NO,SI,SI,SI,SI,SI,SI,SI

---


## üë£ **Limpieza:** Inicialmente validamos datos perdidos en nuestro conjunto para realizar la limpieza requerida;



---

In [ ]:
#Verificamos si existen datos perdidos en nuestro conjunto
print("¬øExisten datos perdidos en el conjunto?")
if(dfAguasSubterraneas.isna().values.any())==True:
  print("S√≠")
else:  
  print("No")

¬øExisten datos perdidos en el conjunto?
S√≠

In [ ]:
#Teniendo en cuenta que s√≠ tenemos datos perdidos en nuestro conjunto, validamos a continuaci√≥n cuales son las columnas con datos perdidos.
ColumnasNA=dfAguasSubterraneas.columns[dfAguasSubterraneas.isna().any()].tolist()
print("*************************************************")
print("Las siguientes columnas presentan datos perdidos:")
print("*************************************************")
dfAguasSubterraneas[ColumnasNA].dtypes

*************************************************
Las siguientes columnas presentan datos perdidos:
*************************************************

ALC_mg/L             float64
CALIDAD_ALC           object
CONDUCT_mS/cm        float64
CALIDAD_CONDUC        object
SDT_mg/L             float64
SDT_M_mg/L            object
CALIDAD_SDT_ra        object
CALIDAD_SDT_salin     object
DUR_mg/L              object
CALIDAD_DUR           object
N_NO3_mg/L            object
CALIDAD_N_NO3         object
CONTAMINANTES         object
dtype: object

---

üîé Existen 3 columnas con tipo de dato num√©rico y 10 columnas con tipo de dato object que presentan datos perdidos.

---

In [ ]:
#Verificamos el porcentaje de datos perdidos por columna.
print("*******************************************************************")
print("El porcentaje de datos perdidos para las columnas identificadas es:")
print("*******************************************************************")
round(dfAguasSubterraneas[dfAguasSubterraneas.columns[dfAguasSubterraneas.isnull().any()]].isnull().sum() * 100 / dfAguasSubterraneas.shape[0],2)

*******************************************************************
El porcentaje de datos perdidos para las columnas identificadas es:
*******************************************************************

ALC_mg/L               0.37
CALIDAD_ALC            0.37
CONDUCT_mS/cm          0.56
CALIDAD_CONDUC         0.56
SDT_mg/L             100.00
SDT_M_mg/L             0.19
CALIDAD_SDT_ra         0.19
CALIDAD_SDT_salin      0.19
DUR_mg/L               0.09
CALIDAD_DUR            0.09
N_NO3_mg/L             0.09
CALIDAD_N_NO3          0.09
CONTAMINANTES         40.64
dtype: float64

---

üîé Observamos que la columna "**SDT_mg/L**" presenta un **100%** de datos perdidos, por lo cual debemos validar la incidencia de esta columna en la clasificaci√≥n requerida para el modelo, de no ser necesaria, procederemos a eliminarla.

---

---


## üë£ **An√°lisis:** Realizamos el an√°lisis de los datos en nuestro conjunto;



---

---


## üë£ **Visualizaci√≥n:** Comenzamos con la visualizaci√≥n de los datos en nuestro conjunto;



---

---


## üë£ **Agrupamiento:** Ejecutamos el agrupamiento de los datos en nuestro conjunto;



---

---

# üìë **PARTE 2: IMPLEMENTACI√ìN DE CLASIFICADOR**

---